nav.menu{ margin: 25px }

nav.menu ul{
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

nav.menu ul.links li{
    display: inline-block;
    margin: 0 15px;
}

nav.menu ul.links li a {
    position:relative;
    display:inline-block;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration:none;
    color:#000;

    padding:0px 5px;

    transition:all 0.5s;
}

nav.menu ul.links li a::before {
    z-index:-1;
    position:absolute;
    display:block;

    content:" ";

    margin:0 auto;
    height:100%;
    width:0%;
    bottom:0px;
    left:0%;

    transition:all 0.5s;

    background-color:#FFF1CC;
}

nav.menu ul.links li a:hover::before {
    width:100%;
    left:0%;
}
