.experiences {
  margin-top: 4em;
}

.experience {
  margin-top: 1.3em;

  h4 {
    line-height: 0;
    display: inline-block;
  }

  span.date {
    display: inline-block;
    float: right;
    margin-top: 4px;

    font-size: 14px;
    font-family: var(--fontFamily);
    font-weight: 300;

    letter-spacing: 0.5px;
    line-height: 2;

    color: var(--colorSecondary);
  }

  p {
    font-size: 14px;
    line-height: 0;
    margin-top: 0.5em;
  }
}
