a.button {
  display: inline-block;
  padding: 15px 30px;

  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  background: #000;
  color: #fff;

  border-radius: 3px;
  white-space: nowrap;

  cursor: pointer;

  transition: 0.3s;

  > svg {
    transition: margin 0.3s ease-in-out;
    margin-left: 15px;
    vertical-align: middle;
  }

  &:hover {
    box-shadow: 0px 4px 5px #e2e0e0;

    > svg {
      margin-left: 20px;
      margin-right: -5px;
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px #e2e0e0;
  }
}
