:root {
  /* colors */
  --colorPrimary: #000000;
  --colorSecondary: #959aa8;
  --colorBackground: #fcfcfc;
  --colorDots: #e2e2e2;

  /* fonts */
  --fontSize: 15px;
  --fontColor: black;
  --fontFamily: 'Poppins';
}

body {
  background: var(--colorBackground);
  font-family: var(--fontFamily), sans-serif;
  font-size: var(--fontSize);

  color: var(--fontColor);

  border: 0;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--fontFamily);
  font-weight: 300;

  letter-spacing: 0.5px;
  line-height: 2;

  color: var(--colorSecondary);
}

h1,
h2,
h3,
h4 {
  font-family: 'Cocogoose';
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0;
}

.bold {
  font-weight: 500;
}

.right {
  float: right;
}

// dots

.dots-banner {
  width: 400px;
  height: 200px;
  z-index: -1;
  margin-top: -100px;
  margin-left: 270px;
  position: absolute;
  left: 0;
}

.dots-strategy {
  width: 250px;
  height: 100px;
  z-index: -1;
  margin-top: 25px;
  position: absolute;
  left: 0;
}

.dots-projects-before {
  width: 250px;
  height: 100px;
  z-index: -1;
  margin-top: 25px;
  position: absolute;
  right: 0;
}
.dots-projects-after {
  width: 415px;
  height: 70px;
  z-index: -1;
  margin-top: 15px;
  position: absolute;
  left: 0;
}

.dots-footer {
  width: 880px;
  height: 100px;
  z-index: -1;
  margin-top: 95px;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1110px) {
  .dots-footer {
    width: 300px;
  }
}
