:root {
  /* colors */
  --colorPrimary: #000000;
  --colorSecondary: #959aa8;
  --colorBackground: #fcfcfc;
  --colorDots: #e2e2e2;

  /* fonts */
  --fontSize: 15px;
  --fontColor: black;
  --fontFamily: 'Poppins';
}

body {
  background: var(--colorBackground);
  font-family: var(--fontFamily), sans-serif;
  font-size: var(--fontSize);

  color: var(--fontColor);

  border: 0;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--fontFamily);
  font-weight: 300;

  letter-spacing: 0.5px;
  line-height: 2;

  color: var(--colorSecondary);
}

h1,
h2,
h3,
h4 {
  font-family: 'Cocogoose';
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0;
}

.bold {
  font-weight: 500;
}

.right {
  float: right;
}
