section.projects {
  background-color: var(--colorPrimary);
  padding: 6em 0 5em;
  margin-top: 13em;

  .title {
    span {
      font-weight: 500;
      color: var(--colorSecondary);
    }
    h1 {
      color: #fff;
    }
  }

  p {
    strong {
      font-weight: 600;
    }
  }
}
