a.social {
  font-family: 'Poppins';

  letter-spacing: 0.5px;
  line-height: 2;

  text-decoration: none;
  margin-right: 30px;

  color: #9a9eac;

  > svg {
    fill: #9a9eac;
    margin-right: 5px;
    vertical-align: text-bottom !important;
  }
}

.socials {
  &-white {
    a.social {
      color: black;

      > svg {
        fill: black;
      }
    }
  }
}
