section.contact{
    margin-top: 5em;
}

section.contact a{
    margin-bottom: 10em;
    padding: 30px 0px;
    
    color: #fdbc05;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

section.contact a:hover{
    margin-left: 10px;
}

@media (max-width: 574px){
    section.contact h2::before{
        content: none;
    }
}
