section#banner{
	h1{
		margin-top: 2em;
		margin-bottom: 1em;

		font-size: 40px;
		font-weight: 600;

		line-height: 0;
	}

	p{
		padding-right: 60px;
	    font-weight: 500;
	    color: #8c8c8c;
	    line-height: 30px;
	    text-align: justify;
	}

	.last{
	    margin-bottom: 45px;
	    margin-top: 20px;
	}

	a{
		color: #8c8c8c;

		@include transition(0.3s);

		&:hover{
			color: $blue-dark;
		}
	}
}

@media screen and (max-width: 992px){
	section#banner p{
		padding-right: 0;
	}
}
