section#contact{

    h2{
        color: black;
        font-weight: 600;
        margin-bottom: 30px;

        span{
            display: block;
            color: black;
            font-weight: 600;
        }
    }

    p{
        font-weight: 500;
        color: #8c8c8c;
        line-height: 30px;
        text-align: justify!important;

        a{
            color: $blue-dark;
        }
    }

    .center{
        border: solid 3px #ebebeb;
        border-radius: 5px;
        padding: 55px 0px 30px;
    }

    //

    ul.social-icons{
        padding: 0;
        margin-top: 2em;
        margin-bottom: 6em;

        li{
            &:first-child{
                padding-left: 0;
            }
            display: inline-block;
            padding: 0 10px;

            .fa-dribbble{ color: #ea5b93 }
            .fa-twitter{ color: #4099FF }
            .fa-linkedin{ color: #0067a8 }
            .fa-github{ color: #1a1a1a }
            .fa-medium{ color: #07e470 }

            a{
                font-size: 25px;

                i{
                    @include transition(0.5s);

                    &:hover{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    section#contact{

    }
}
@media screen and (min-width: 980px){
    section#contact p{
        text-align: left!important;
        width: 60%!important;
    }
}
