section#projects{
    margin-bottom: 70px;
    h2{
        font-size: 30px;
        font-weight: 500;
        line-height: 0;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .project{
        h3{
            font-size: 20px;
            font-weight: 600;

            a.project-name{
                text-decoration: none;
                color: #111;
            }

            a.link-github{
                color: #bbb;
                margin-left: 5px;

                @include transition(0.3s);

                &:hover{
                    color: #cacaca;
                }
            }
        }

        p{
            //padding-right: 60px;
            font-weight: 400;
            color: #8c8c8c;
            line-height: 30px;
            text-align: justify;
        }

        .tags{
            list-style: none;

            li{
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 5px;
                padding: 5px 20px;
                border-radius: 100px;
                background: $blue-dark;
                color: #fff;
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 980px){

    section#projects .project p{
        padding-right: 60px;
    }

}
