section#services {
    margin: 100px 0;
    padding-top: 20px;
    padding-bottom: 20px;

    .service {
        color: $blue-dark;
        text-align: center;

        img {
            width: 48px;
        }

        h2 {
            margin-bottom: 15px;
            margin-top: 40px;
            color: black;
        }

        p {
            font-weight: 400;
            color: #8c8c8c;
            margin: 0 20px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 892px) {
    section#services .service {
        color: #fff;
        text-align: center;
        margin-top: 50px;
    }
}
