// Colors
$body-bg:         #fff !default;
$text-color:      #FBDFB0 !default;
$gris:			  #808080;
$black:           #1B1C1D;

$dark:            #111;
$blue-light:      #96ccfc;
$blue-dark:       #646ECB;

$primary:         #2C3E50 !default;
$success:         #5cb85c !default;
$info:            #52B3D9 !default;
$warning:         #F89406 !default;
$danger :         #D64541 !default;
