// imports
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,500,600,700,900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,800,900');

$font-size: 16px !default;
$font-color:  $text-color;

$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
