section.post{
  margin-top: 5em;
}

section.post h2{
  font-weight: 800;
  font-size: 35px;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

section.post h2:before{
  content: ' ';

  position: absolute;
  margin-top: 50px;

  width: 100px;
  height: 2px;

  background: var(--colorYellow);
}

section.post .content{
  margin-top: 4em;
}
section.post p{
  font-size: 18px;
  font-weight: 500;
  text-align: justify;

  line-height: 30px;
  letter-spacing: 1px;
}

section.post ul{
  padding-left: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

section.post blockquote{
  border-left: 2px solid var(--colorYellow);
  padding-left: 30px;
  margin-left: 0;
  margin: 0;
}

section.post blockquote p{
  margin: 0;
  padding: ø;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  color: #000000;
}
section.post img{ width: 100% }

section.post a{
  color: var(--colorYellow);
  font-weight: 600;
}

section.post footer{
  text-align: center;
  padding-top: 2em;
  font-size: 18px;
  font-weight: 700;
  color: var(--colorYellow);
  margin: 3em 0 0;
}
