section#header {
    padding-top: 3em;
    margin-bottom: 10em;
}

section#header .hexagone {
    position: absolute;
    top: -355px;
    left: -300px;
    z-index: -1000;
    animation-delay: 1s;
}

section#header .hexagone svg {
    fill: #646ECB;
    transform: rotate(-10deg);
    width: 460px;
}

section#header .head img {
    border-radius: 50%;
    width: 135px;
    border: solid 4px #fff;
    vertical-align: middle;
}

section#header .head .col-md-10 { margin-top: 25px }

section#header .head .title { display: inline-block }

section#header .head .title h3 {
    font-size: 1.5em;
    line-height: 0;
    font-weight: 600;
    animation-delay: 0.6s;
}

section#header .head .title span {
    color: #8c8c8c;
    font-style: italic;
    font-weight: 500;
    animation-delay: 0.8s;
}

section#header .head ul.social-icons {
    float: right;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-top: 17px;
}

section#header .head ul.social-icons li {
    display: inline-block;
    padding: 0 10px;
}

@media screen and (max-width: 606px) {
    section#header .title { display: none !important }
}
@media screen and (max-width: 460px) {
    section#header ul#social-icons li { display: block }

    section#header .head ul.social-icons { margin-top: -35px }
    section#header .head ul.social-icons li {
        display: block;
        padding: 5px 0;
    }
}
@media screen and (max-width: 992px) and (min-width: 606px) {
    section#header .head ul.social-icons { float: left }
}
