@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,800,900");

:root {
    /* colors */
    --colorPurple: #6F66F4;
    --colorYellow: #FDBB07;

    --fontSize : 16px;
    --fontColor : black;
    --fontFamily: 'Montserrat';
}

body {
    font-family: var(--fontFamily), sans-serif;
    color: var(--fontColor);
    font-size: var(--fontSize);
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}
