@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Poppins;
  src: local(Poppins-Thin), url(/fonts/Poppins-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-ExtraLight),
  url(/fonts/Poppins-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Light), url(/fonts/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Regular),
  url(/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Medium), url(/fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Poppins;
  src: local(Poppins-SemiBold),
  url(/fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Bold), url(/fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-ExtraBold),
  url(/fonts/Poppins-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Black), url(/fonts/Poppins-Black.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
/* END FONTS */

body{
  background-color: #11131E;
}

h2 {
  font-size: 1.6em;
  @apply font-semibold mb-8 mt-20;
  @apply tracking-tight;
  @apply text-black;
}

h1 {
  @apply text-4xl;
  @apply font-semibold mb-8 mt-20;
  @apply tracking-tight;
  @apply text-black;
}

h2 {
  @apply text-3xl;
  @apply font-semibold mb-8 mt-16;
  @apply tracking-tight;
  @apply text-black;
}

h3 {
  @apply text-2xl;
  @apply font-semibold mb-4 mt-20;
  @apply tracking-tight;
  @apply text-black;
}

h4 {
  @apply text-xl;
  @apply font-semibold mb-4 mt-20;
  @apply tracking-tight;
  @apply text-black;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
