@import url('tailwindcss/dist/tailwind.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* END FONTS */

body{
  background-color: #11131E;
}

h2 {
  font-size: 1.6em;
  @apply font-semibold;
  @apply text-black;
}

h1 {
  @apply text-4xl;
  @apply font-semibold;
  @apply text-black;
}

h2 {
  @apply text-3xl;
  @apply font-semibold;
  @apply text-black;
}

h3 {
  @apply text-2xl;
  @apply font-semibold;
  @apply text-black;
}

h4 {
  @apply text-xl;
  @apply font-semibold;
  @apply text-black;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
