@import url("https://use.typekit.net/cyw3eir.css");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

.writing-container p strong {
  color: #111827;
  font-weight: 600;
}

.writing-container img {
  width: 100%;
}

.writing-container ul {
  margin: 0;
  padding: 0 0 30px 20px;
  list-style: circle;
}

.writing-container ul li {
  padding: 4px 0;
  line-height: 1.8em;
  font-size: 20px;
  color: var(--article-text-color);
}

.writing-container blockquote {
  border-left: 3px #e5e7eb solid;
  font-style: italic;
  margin: 0;
  padding: 0px 20px;
}
.writing-container blockquote p {
  color: #141b29 !important;
}

.writing-container img {
  border-radius: 5px;
}

.writing-container p {
  line-height: 1.9em;
  margin-bottom: 40px;
  font-size: 21px;
  color: #697281;
}

.writing-container *:not(pre) > code {
  color: #7174f2;
}

hr {
  border: none;
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

hr:before {
  content: "∿∿∿";
  font-size: 30px;
  color: var(--hr-color);
}

.writing-container a {
  @apply text-indigo-600;
  @apply border-b-2;
  @apply hover:border-indigo-600;
}
