header{
  margin-left: 40px;
  margin-top: 14em;
  margin-right: 2.5em;
  margin-bottom: 5em;
}

header .hello{
  color: var(--colorYellow);

  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header h1{
  color: #000;

  font-size: 55px;
  font-weight: 900;

  transition-duration: 0.3s;
}

header p{
  margin-bottom: 50px;
}

header a{
  margin-top: 2em;

  font-size: 19px;
  font-weight: 600;
  color: var(--colorYellow);
  
  border-radius: 5px;
}

@media (max-width: 870px){
  header{ margin-top: 5em }
}
@media (max-width: 680px) {
  header h1{ font-size: 30px }

  header h1 span{ font-size: 20px }
}


@media (min-width: 1200px){
  header{
    max-width: 30em;
    margin-left: 165px;
  }

  header p{ max-width: 19em }
}