figure.background-image{
  position: fixed;

  width: 700px;
  height: 100%;

  top: 0;
  left: 0;

  margin: 0;
  border: 0;
}

figure.background-image img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (max-width: 1360px){
  figure.background-image{
    width: 400px;
  }
}

@media (max-width: 870px){
  figure.background-image{
    position:inherit;
    display: block;
    width: 100%;
    height: 100;

  }
}